@{
        ViewData["Title"] = "Clients";
        string[] TableHeaders = new string[] {
                        "Id"
                        ,"CIN"
                        ,"Nom"
                        ,"Prenom"
                        ,"TypeClient"
                        ,"Adresse"
                        ,"Numéro téléphone"
                        };
}


        <h2>All clients page</h2>
<div class="table">
        <table class="table table-bordered table-hover">
        <thead>
            <tr>
                @{
                    foreach (var head in TableHeaders)
                    {
                        <th>
                            @head
                        </th>
                    }
                }
            </tr>
        </thead>
            <tbody>
                @{
                    if (Model != null)
                    {
                        foreach (var client in Model)
                        {
                    <tr>
                        <td>@client.Id</td>
                        <td>@client.NumCin</td>
                        <td>@client.Nom</td>
                        <td>@client.Prenom</td>
                        <td>@client.TypeClient</td>
                        <td>@client.Adresse</td>
                        <td>@client.NumPhone</td>
                            <td>
                         @Html.ActionLink("Modifier", "ModifierClient", new { id = client.Id }) |
                         @Html.ActionLink("Supprimer", "SupprimerClient", new { id = client.Id })
                            </td>

                    </tr>
                    }
                }
            }
            </tbody>
        </table>
            <a asp-action="CreateClient">Ajouter un nouveau client</a>
        </div>
           <a asp-action="Confirm">Retour</a>

