@{
        ViewData["Title"] = "Stocks";
        string[] TableHeaders = new string[] {
                        "Id"
                        ,"Nom"
                        ,"Quantite"
                        ,"PrixUnitaire"
                        ,"Marque"
                        };
}

<div class="table">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                @{
                    foreach (var head in TableHeaders)
                    {
                        <th>
                            @head
                        </th>
                    }
                }
            </tr>
        </thead>

        <tbody>
            @{
                if (Model != null)
                {
                    foreach (var stock in Model)
                    {
                        <tr>
                            <td>@stock.Id</td>
                            <td>@stock.Nom</td>
                            <td>@stock.Quantite</td>
                            <td>@stock.PrixUnitaire</td>
                            <td>@stock.Marque</td>
                            <td>
                         @Html.ActionLink("Modifier", "ModifierProd", new { id = stock.Id }) |
                         @Html.ActionLink("Supprimer", "Supprimer_prod", new { id = stock.Id })
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
    <a asp-action="CreateProd">Ajouter un nouveau produit</a>

</div>
    <a asp-action="Confirm">Retour</a>
